<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ project }}</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='media/codigo.ico') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tailwind.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='flowbite.css') }}">
  <link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='javascript/highlight/styles/default.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='codemirror.min.css') }}">
  <script src="{{ url_for('static', filename='tailwind.js') }}"></script>
  <script src="{{ url_for('static', filename='flowbite.js') }}"></script>
  <script src="{{ url_for('static', filename='codemirror.min.js') }}"></script>
  <script src="{{ url_for('static', filename='python.min.js') }}"></script>
  <script src="{{ url_for('static', filename='socket.io.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@3.0.0"></script>
</head>

<body>
  {% include 'header_index.html' %}
  <div class="flex flex-wrap items-center justify-start m-3 p-0 space-x-2">
    <!-- Primera fila -->
    <div class="flex flex-wrap w-full md:w-auto space-x-1 mb-1 md:mb-0">
      <button type="button" class="text-white bg-blue-700 font-medium rounded-lg text-sm px-5 py-2.5"
        onclick="verifySyntax()">Verificar</button>
      <button type="button" class="text-white bg-blue-700 font-medium rounded-lg text-sm px-5 py-2.5"
        onclick="executeCode()">Ejecutar</button>
      <button type="button" class="text-white bg-red-700 font-medium rounded-lg text-sm px-5 py-2.5"
        onclick="cancelExecution()">Detener Ejecución</button>
    </div>
    <!-- Segunda fila -->
    <div class="flex flex-wrap w-full md:w-auto space-x-2">
      <select id="viewSelectorProject" class="text-black bg-gray-200 font-medium rounded-lg text-sm px-5 py-2.5">
        <option value="newProject">Nuevo</option>
        <option value="openProject">Abrir</option>
        <option value="saveProject">Guardar</option>
      </select>
      <select id="viewSelector" class="text-black bg-gray-200 font-medium rounded-lg text-sm px-5 py-2.5">
        <option value="editor">Editor</option>
        <option value="chart">Gráfico</option>
        <option value="console">Consola</option>
      </select>
      <button onclick="openGraphic()" data-tooltip-target="tooltip-default" type="button"
        class="text-white bg-blue-700 font-medium rounded-lg text-sm px-5 py-2.5">FabBlocks</button>
    </div>
  </div>

  <div class="flex flex-col md:flex-row mx-auto w-full px-4 md:px-20 pt-3 space-y-4 md:space-y-0 md:space-x-4">
    <div id="boxEditor" class="w-full md:w-1/2 px-0">
      <textarea id="editor">{{ python_content }}</textarea>
      <script>
        var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
          mode: "python",
          lineNumbers: true,
          theme: "default",
          autofocus: true
        });
      </script>
    </div>
    <div id="chart-container" class="w-full md:w-1/2 mt-4 md:mt-0 p-4 border border-gray-300 rounded relative">
      <h3 class="font-bold mb-2">Gráfico en tiempo real:</h3>
      <canvas id="chart"></canvas>
    </div>
  </div>

  <div id="output-container" class="mt-4 p-4 border border-gray-300 rounded mx-4 md:mx-20">
    <h3 class="font-bold mb-2">Salida:</h3>
    <pre id="output-text" class="overflow-auto h-40"></pre>
  </div>
  <script>
    function verifySyntax() {
      saveProject(true); // Llamar a saveProject en modo silencioso
      var formData = new FormData();
      var pythonContent = editor.getValue();
      var codeWithNewlines = pythonContent.replace(/\n/g, '\\n');

      formData.append('codigo', codeWithNewlines);
      console.log(codeWithNewlines);
      fetch('/verify_code', {
        method: 'POST',
        body: formData
      })
        .then(response => response.json())
        .then(data => {
          if (data.status == 'success') {
            showAlert('success', 'Sintaxis Correcta!');
          } else {
            showAlert('warning', 'Sintaxis incorrecta');
          }
          console.log(data);
        })
        .catch(error => {
          console.error('Error:', error);
          showAlert('error', 'Sintaxis incorrecta :(');
        });
    }

    function saveProject(silent = false) { // Añadir un parámetro para el modo silencioso
      var projectName = document.querySelector('.project-name').innerText;
      var formData = new FormData();
      formData.append('project_name', projectName);

      var pythonContent = editor.getValue();
      var codeWithNewlines = pythonContent.replace(/\n/g, '\\n');
      formData.append('python_content', codeWithNewlines);

      fetch('/save_python', {
        method: 'POST',
        body: formData
      })
        .then(response => response.json())
        .then(data => {
          console.log(data);
          if (!silent) { // Solo mostrar alerta si no es modo silencioso
            showAlert('success', '¡Proyecto guardado exitosamente!');
          }
        })
        .catch(error => {
          console.error('Error:', error);
          if (!silent) { // Solo mostrar alerta si no es modo silencioso
            showAlert('error', '¡Ocurrió un error al guardar el proyecto!');
          }
        });
    }

    function showAlert(type, message) {
      const existingAlert = document.querySelector('.alert');
      if (existingAlert) {
        existingAlert.remove();
      }
      const alert = document.createElement('div');
      alert.classList.add('fixed', 'top-0', 'right-0', 'm-5', 'px-4', 'py-2', 'rounded', 'shadow-lg');
      if (type === 'success') {
        alert.classList.add('bg-green-500', 'text-white');
      } else if (type === 'warning') {
        alert.classList.add('bg-orange-500', 'text-white');
      } else if (type === 'error') {
        alert.classList.add('bg-red-500', 'text-white');
      }
      alert.innerText = message;
      document.body.appendChild(alert);
      setTimeout(() => {
        alert.remove();
      }, 1500);
    }

    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on('connect', function () {
      console.log('Connected');
      setupSocketHandlers(); // Llamar a setupSocketHandlers después de la conexión
    });

    socket.on('disconnect', function () {
      console.log('Disconnected');
    });

    var executionActive = true;
    var chart;  // Variable para el gráfico de Chart.js
    var chartInitialized = false;  // Variable para controlar la inicialización del gráfico

    function setupSocketHandlers() {
      // Evitar agregar manejadores múltiples
      if (!socket.hasSetupHandlers) {
        socket.on('execution_output', function (data) {
          if (executionActive) {
            console.log(data);
            var outputText = document.getElementById('output-text');
            outputText.innerText += data.output + '\n';
            outputText.scrollTop = outputText.scrollHeight;

            const output = data.output;
            const regex = /(\w+):(\d+)/g;
            let match;

            while ((match = regex.exec(output)) !== null) {
              const label = match[1];
              const value = parseInt(match[2]);
              const now = new Date();

              let dataset = chart.data.datasets.find(ds => ds.label === label);

              if (!dataset) {
                dataset = {
                  label: label,
                  data: [],
                  borderColor: getRandomColor(),
                  fill: false
                };
                chart.data.datasets.push(dataset);
              }

              dataset.data.push({ x: now, y: value });
            }

            chart.update();
          }
        });

        socket.on('execution_complete', function (data) {
          var outputText = document.getElementById('output-text');
          outputText.innerText += '\n\n' + 'Ejecución completa. Código de salida: ' + data.result;
          outputText.scrollTop = outputText.scrollHeight;
        });

        socket.hasSetupHandlers = true;
      }
    }

    function initializeChart() {
      const ctx = document.getElementById('chart').getContext('2d');
      chart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: [],
          datasets: []
        },
        options: {
          scales: {
            x: {
              type: 'time',
              time: {
                unit: 'second',
                tooltipFormat: 'MMM d, yyyy, h:mm:ss a',
                displayFormats: {
                  second: 'h:mm:ss a',
                  minute: 'h:mm a',
                  hour: 'h a',
                  day: 'MMM d',
                  week: 'MMM d',
                  month: 'MMM yyyy',
                  quarter: 'MMM yyyy',
                  year: 'yyyy'
                }
              },
              title: {
                display: true,
                text: 'Tiempo'
              }
            },
            y: {
              title: {
                display: true,
                text: 'Valor'
              }
            }
          }
        }
      });
      chartInitialized = true;
    }

    function executeCode() {
      executionActive = true;
      document.getElementById('output-text').innerText = ''; // Limpiar el contenido del contenedor de salida

      if (chartInitialized) {
        chart.destroy(); // Destruir el gráfico existente si está inicializado
        chartInitialized = false; // Reiniciar el estado de inicialización del gráfico
      }

      // Asegurarse de que los datasets estén vacíos antes de inicializar el nuevo gráfico
      chart.data.datasets = [];

      initializeChart(); // Inicializar un nuevo gráfico

      var projectName = document.querySelector('.project-name').innerText;
      var formData = new FormData();
      formData.append('project_name', projectName);

      var pythonContent = editor.getValue();
      var codeWithNewlines = pythonContent.replace(/\n/g, '\\n');
      formData.append('python_content', codeWithNewlines);

      fetch('/save_python', {
        method: 'POST',
        body: formData
      })
        .then(response => response.json())
        .then(data => {
          if (data.status === 'success') {
            showAlert('success', '¡Proyecto guardado exitosamente!');
            // Emitir evento de ejecución del código a través de WebSocket
            socket.emit('execute_code', { project_name: projectName });
          } else {
            showAlert('error', 'Error al guardar el proyecto');
          }
        })
        .catch(error => {
          console.error('Error:', error);
          showAlert('error', '¡Ocurrió un error al guardar el proyecto!');
        });
    }

    function cancelExecution() {
      executionActive = false;
      socket.emit('cancel_execution_signal');
      showAlert('error', 'Ejecución detenida.');
    }

    function getRandomColor() {
      const letters = '0123456789ABCDEF';
      let color = '#';
      for (let i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)];
      }
      return color;
    }

    function openGraphic() {
      var projectName = document.querySelector('.project-name').innerText;
      var urlProject = `/projectGraphicStatus/${projectName}`;
      fetch(urlProject, {
        method: 'GET'
      })
        .then(response => response.json())
        .then(data => {
          console.log(data);
          if (data.status == 'success') {
            showAlert('success', 'Proyecto encontrado!');
            window.location.href = `/projectGraphic/${projectName}`;
          } else {
            showAlert('warning', 'Proyecto no encontrado');
          }
        })
        .catch(error => {
          console.error('Error:', error);
          showAlert('error', 'Error');
        });
    }

    document.addEventListener('DOMContentLoaded', function () {
      if (!chartInitialized) {
        initializeChart(); // Inicializar el gráfico cuando el documento esté listo
      }
    });

    document.getElementById('viewSelector').addEventListener('change', function () {
      var selectedView = this.value;
      var editorContainer = document.getElementById('boxEditor');
      var chartContainer = document.getElementById('chart-container');
      var outputContainer = document.getElementById('output-container');

      // Ocultar todos los contenedores
      editorContainer.style.display = 'none';
      chartContainer.style.display = 'none';
      outputContainer.style.display = 'none';

      // Mostrar el contenedor seleccionado
      if (selectedView === 'editor') {
        editorContainer.style.display = 'block';
      } else if (selectedView === 'chart') {
        chartContainer.style.display = 'block';
      } else if (selectedView === 'console') {
        outputContainer.style.display = 'block';
      }
    });

    document.getElementById('viewSelectorProject').addEventListener('change', function () {
      var selectedView = this.value;

      // Mostrar el contenedor seleccionado
      if (selectedView === 'newProject') {
        showCreateProjectModal();
      } else if (selectedView === 'openProject') {
        showImportModal();
      } else if (selectedView === 'saveProject') {
        saveProject();
      }
    });

    document.addEventListener('DOMContentLoaded', function () {
      // Mostrar el editor por defecto
      document.getElementById('viewSelector').value = 'editor';
      document.getElementById('boxEditor').style.display = 'block';
      document.getElementById('chart-container').style.display = 'none';
      document.getElementById('output-container').style.display = 'none';
    });
  </script>
</body>

</html>